/* Footer */

footer{
    border-top: 2px solid var(--non-focused-accent);
    padding: 20px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

footer img{
    width: clamp(270px, 10vw, 430px);
}

.l-links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.l-links a{
    text-decoration: none;
    font-family: 'Mdm';
    font-size: clamp(16px, 2vw, 20px);
    color: white;

    transition: 250ms;
}

.l-links a:hover{
    color: var(--bright-accent);

    transition: 250ms;
}

.copyright{
    font-size: 12px;
}

.copyright span{
    display: inline;
}