:root {
    --bg-color: #16131F;
    --main-gradient: linear-gradient(to right, #8D7DEF, #D170FF);
    --bright-gradient: linear-gradient(to right, #BC98FF, #C981FF);
    --bright-accent: #C28DFF;
    --non-focused-accent: #c28dff34;
    --black: #0A0A0A;
}


::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}


::-webkit-scrollbar-thumb {
    background: var(--non-focused-accent);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bright-accent);
}


html {
    background-color: var(--bg-color);
    scroll-behavior: smooth;
}

body {
    font-family: 'Reg';
    color: white;
}

.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: clamp(25px, 5vw, 50px);

    height: 83vh;
    padding-top: 17vh;

    background-image: url("/eyed/assets/img/eyed-ovrl.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    font-family: 'SBld';
    font-size: clamp(50px, 6vw, 150px);
    text-align: center;

}

.p-title {
    font-family: 'Bld';
    font-size: clamp(40px, 2.6vw, 80px);
    text-align: center;

    background: var(--main-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc {
    font-family: 'Lig';
    font-size: clamp(20px, 1.25vw, 70px);
    text-align: center;
    width: clamp(270px, 40vw, 740px);

}

.CTA {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: 'SBld';
    font-size: clamp(14px, 3vw, 20px);

    width: clamp(270px, 90vw, 580px);

    padding: 10px;
}

.CTA a {
    text-decoration: none;
    transition: 250ms;
}

.CTA a:hover {
    filter: drop-shadow(0 0 15px #c28dff69);
}

span {
    display: flex;
    align-items: center;
    justify-content: center;

    width: clamp(100px, 42vw, 260px);
    height: clamp(60px, 6.5vh, 90px);
}

.a-main {
    font-family: 'SBld';
    font-size: clamp(14px, 3vw, 20px);
    color: var(--black);
    background-image: var(--main-gradient);
    border-radius: 15px;
    border: 1px solid var(--black);
    text-decoration: none;
    transition: 250ms;
}

.a-non-main {
    color: var(--bright-accent);
    background-color: var(--black);
    border-radius: 15px;
    padding: 1px;
    border: 1px solid var(--bright-accent);
}


/* Features Section */

@media (min-width: 2000px) {
    .features {
        justify-content: center;
    }
}

.features {
    display: flex;

    padding: 40px 0px 40px 20px;
    scroll-padding-left: 30px;

    gap: 40px;

    scroll-snap-type: x mandatory;
    overflow: auto;
}


.feature {
    color: white;
    background-color: var(--black);
    border-radius: 15px;
    border: 2px solid var(--bright-accent);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    scroll-snap-align: start;

    padding-bottom: 20px;
}

.text {
    padding: 50px 25px;
    width: clamp(220px, 30vw, 320px);
    height: clamp(130px, 20vh, 200px);

    z-index: 2;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    gap: 26px;
}

.f-title {
    font-family: 'Mdm';
    font-size: clamp(20px, 5vw, 24px);
}

.f-title b {
    font-family: 'SBld';
}

.f-desc {
    font-size: 15px;
    width: clamp(150px, 70%, 200px);
}

.otus {
    font-family: 'Bld';

    background: var(--bright-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* FAQ Section */


.FAQ {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fq-title {
    font-family: 'Bld';
    font-size: clamp(30px, 4vw, 75px);

    padding: 10% 0 7%;
    width: 70%;
}

.fq-questions {
    font-size: clamp(20px, 3vw, 30px);
    width: 70%;

    background-color: #ffffff0a;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid var(--bright-accent);
}

@media (max-width: 1200px) {
    .fq-title {
        width: 80%;
    }

    .fq-questions{
        width: 85%;
    }
}

details summary{
    cursor: pointer;
    font-family: 'Mdm';
    font-size: clamp(23px, 4vw, 35px);

    padding: 10px 0;
}

details.mid{
    padding-bottom: 10px;
    border-bottom: 2px solid var(--bright-accent);
}

details a{
    text-decoration: underline;
    color: var(--bright-accent);
}

/* CTA 2 */

.title-2 {
    font-family: 'SBld';
    font-size: clamp(32px, 5vw, 130px);
    text-align: center;

    width: 80%;
}

.a-main:hover{
    filter: drop-shadow(0 0 15px #c28dff69);
}

.mini{
    font-size: 12px;
    width: 200px;
}
